<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title id="title>{{title}}</title>
		<script src="/static/scripts/utils.js"></script>
		<script src="/static/scripts/main.js"></script>
	</head>
	<body>
	
	<input type='text' id='emailAddress' placeholder='Email Address'>
	<input type='button' id='saveEmailAddr' value='Save' onclick='saveEmailAddr()'><br/>
	<input type='text' id='textAddress' placeholder='Txt Msg Address'>
	<input type='button' id='saveTextAddr' value='Save' onclick='saveTextAddr()'>
